// $root: '../..';
// $node_modules: '#{$root}/node_modules';
// $node_modules: '~';
// $src: '#{$root}/src';
// $css: '#{$src}/css';
// $font: '#{$src}/font';
// $image: '#{$src}/image';
// $js: '#{$src}/js';
// $other: '#{$src}/other';
// $vendor: '#{$src}/vendor';


$fa-font-path: '~font-awesome/fonts';
$primeng-image-path: '~primeng/resources/images';
$roboto-font-path: '~materialize-css/fonts/roboto/';